<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%35.35t]){faint} %clr(%-28.28logger{28}){cyan} %clr(:){faint}%X{BUSINESS-LOG} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org" level="INFO"/>
    <logger name="io" level="INFO"/>
    <logger name="org.apache.camel.component.undertow" level="DEBUG"/>
<!--    <logger name="io.zeebe.client.job.poller" level="TRACE"/>-->
<!--    <logger name="hu.dpc" level="TRACE"/>-->
<!--    <logger name="org.eclipse" level="TRACE"/>-->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>