version: 2.1
orbs:
  slack: circleci/slack@4.12.5
  aws-ecr: circleci/aws-ecr@8.2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0.0
      - image: docker:17.05.0-ce-git
    working_directory: ~/repo
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx512m
      TERM: dumb
    steps:
      - checkout
      - setup_remote_docker
#       - slack/notify:
#           event: fail
#           mentions: '@here'
#           template: basic_fail_1
#       - slack/notify:
#           event: pass
#           template: basic_success_1
      - run: ./gradlew clean bootJar 
      - aws-ecr/build-and-push-image:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          extra-build-args: '--compress'
          push-image: true
          region: ap-south-1
          registry-id: AWS_REGISTRY_ID
          repo: phee-mojaloop
          repo-scan-on-push: true
          role-arn: arn:aws:iam::419830066942:role/CustomAdmin
          tag: latest         
      # - run: ./gradlew cucumberCli
      # run tests! Slack Success/Fail Notification Step
      #- run: ./gradlew test
workflows:
  build_and_push_image:
    jobs:
      - build:
          context:
            - AWS
            - slack
      